<footer class="site-footer">
  <div class="uk-grid">
    <div class="uk-width-medium-1-3">
      <h5>SERVICE FÜR BESUCHER_INNEN</h5>
      <ul class="uk-list">
        <li><a href="http://www.documenta14.de/de/tickets" target="_blank">Eintrittskarten</a></li>
        <li><a href="http://www.documenta14.de/de/tickets" target="_blank">Ermäßigungen</a></li>
        <li><a href="/zahlung">Zahlung und Versand</a></li>
        <li><a href="http://www.documenta14.de/de/directions" target="_blank">Anfahrt</a></li>
      </ul>
    </div>
    <div class="uk-width-medium-1-3">
      <h5>ÜBER UNS</h5>
      <ul class="uk-list">
        <li><a href="/impressum">Impressum</a></li>
        <li><a href="/agb">AGB</a></li>
        <li><a href="/besucherordnung">Besucherordnung</a></li>
        <li><a href="/datenschutz">Datenschutz</a></li>
      </ul>
    </div>
    <div class="uk-width-medium-1-3">
      <h5>ΚΟΝΤΑΚΤ</h5>
      <p>Big Olive PC <br>Destination Services <br> Anaxagora 3-5, 10552 Athens</p>
      <p>T (+30) 2120002282 <br> athens@documenta.de</p>
    </div>
  </div>
  <p>Copyright &copy; {{ 'now' | date: "%Y" }} Big Olive PC </p>
</footer>
