<footer class="site-footer">
  <div class="uk-grid">
    <div class="uk-width-medium-1-3">
      <h5>VISITOR SERVICE</h5>
      <ul class="uk-list">
        <li><a href="http://www.documenta14.de/en/tickets" target="_blank">Admission fees</a></li>
        <li><a href="http://www.documenta14.de/en/tickets" target="_blank">Reductions</a></li>
        <li><a href="/payment">Payment</a></li>
        <li><a href="http://www.documenta14.de/en/directions" target="_blank">How to find us</a></li>
      </ul>
    </div>
    <div class="uk-width-medium-1-3">
      <h5>ABOUT US</h5>
      <ul class="uk-list">
        <li><a href="/legal-disclosure">Legal Disclosure</a></li>
        <li><a href="/terms">Terms and Conditions</a></li>
        <li><a href="/visitors-regulations">Visitor Regulations</a></li>
        <li><a href="/data-protection">Data Protection</a></li>
      </ul>
    </div>
    <div class="uk-width-medium-1-3">
      <h5>CONTACT</h5>
      <p>Big Olive PC <br>Destination Services <br> Anaxagora 3-5, 10552 Athens</p>
      <p><a href="mailto:athens@documenta.de">athens@documenta.de</a></p>
    </div>
  </div>
  <p>Copyright &copy; {{ 'now' | date: "%Y" }} Big Olive PC </p>
</footer>
