<ul class="uk-nav uk-nav-side uk-margin-bottom">
  <li id="walks-menu-toggle">
    <a href="/spaziergaenge.html">Spaziergänge</a>
    <ul id="walks-menu-slide-down" style="display: none;">
      <li><a href="/offentliche-spaziergange">Öffentliche Spaziergänge</a></li>
      <li><a href="/gruppenspaziergange">Gruppenspaziergänge</a></li>
    </ul>
  </li>
  <li><a href="/reiseservice">Reiseservice</a></li>
  <li><a href="/eintrittskarten">Eintrittskarten</a></li>
  <li><a href="/publikationen">Publikationen</a></li>
</ul>