<ul class="uk-nav uk-nav-side uk-margin-bottom">
  <li id="walks-menu-toggle">
    <a href="/peripatoi.html">Περίπατοι</a>
    <ul id="walks-menu-slide-down" style="display: none;">
      <li><a href="/anoiktoi_peripatoi.html">Ανοικτοί Περίπατοι</a></li>
      <li><a href="/group_peripatoi.html">Περίπατοι για Groups</a></li>
    </ul>
  </li>
  <li><a href="/yphresies_proorismou.html">Yπηρεσίες Προορισμού</a></li>
  <li><a href="/eisithria.html">Εισιτήρια</a></li>
  <li><a href="/ekdoseis.html">Εκδόσεις</a></li>
</ul>