{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}

<aside data-uk-sticky="{media: 768}">
  {% if page.lang == 'gr' %}
    <a class="uk-display-block uk-margin-bottom logo-brand" href="/arxiki">documenta athens webshop</a>
    {% include sidebar-menu-gr.html %}
  {% elsif page.lang == 'de' %}
    <a class="uk-display-block uk-margin-bottom logo-brand" href="/startseite">documenta athens webshop</a>
    {% include sidebar-menu-de.html %}
  {% elsif page.lang == 'en' %}
    <a class="uk-display-block uk-margin-bottom logo-brand" href="/">documenta athens webshop</a>
    {% include sidebar-menu.html %}
  {% endif %}
  <ul class="uk-nav uk-nav-side uk-margin-bottom" data-uk-nav>
    <li><a href="http://www.documenta14.de/{{ page.lang }}/" target="_blank">documenta 14 website</a></li>
  </ul>
  {% for page in pages %} <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{{ page.lang }}</a> {% endfor %}
</aside>
