<aside data-uk-sticky="{media: 768}">
  <a class="uk-display-block uk-margin-bottom logo-brand" href="/">documenta webshop</a>
  <ul class="uk-nav uk-nav-side uk-margin-bottom" data-uk-nav>
    <li><a href="">Tickets</a></li>
    <li class="uk-parent">
      <a href="#">Walks</a>
      <ul class="uk-nav-sub">
        <li><a href="#">Public Walks</a></li>
        <li><a href="#">Group Walks</a></li>
      </ul>
    </li>
    <li><a href="#">Publications</a></li>
  </ul>
  <ul class="uk-nav uk-nav-side uk-margin-bottom" data-uk-nav>
    <li><a href="#">documenta 14 website</a></li>
  </ul>
</aside>
