<ul class="uk-nav uk-nav-side uk-margin-bottom">
  <li id="walks-menu-toggle">
    <a href="/spaziergaenge.html">Spaziergänge</a>
    <ul id="walks-menu-slide-down" style="display: none;">
      <li><a href="/offentliche_spaziergange.html">Öffentliche Spaziergänge</a></li>
      <li><a href="/gruppens_spaziergange.html">Gruppens-spaziergänge</a></li>
    </ul>
  </li>
  <li><a href="/reise_service.html">Reise-Service</a></li>
  <li><a href="/eintrittskarten.html">Eintrittskarten</a></li>
  <li><a href="/publikationen.html">Publikationen</a></li>
</ul>