---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@font-face {
  font-family: "StandardHaasWeb-Regular_A";
  src: url("../fonts/StandardHaasWeb-Regular_A.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "StandardHaasWeb-Regular_B";
  src: url("../fonts/StandardHaasWeb-Regular_B.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "StandardHaasWeb-LiningFigures";
  src: url("../fonts/StandardHaasWeb-LiningFigures.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "StandardHaasWeb-Regular_A";
  src: url("../fonts/StandardHaasWeb-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

// base

$base-body-font-family:     "StandardHaasWeb-Regular_A", "StandardHaasWeb-LiningFigures", "StandardHaasWeb-Regular_B", Helvetica, Arial, sans-serif;
// $base-body-font-family:     -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$base-body-font-size:       17px;
$base-body-line-height:     1.294;
$base-body-color:           #111;

$base-link-color:                  $base-body-color;
$base-link-hover-color:            #9d9d9c;
$base-link-hover-text-decoration:  none;

$base-heading-font-family:  $base-body-font-family;

// text

$text-large-font-size:         22px;
$text-large-line-height:       1.294em;

// block

$block-padding-vertical-large:  60px;

// Navs

$nav-padding-vertical:         0px;
$nav-padding-horizontal:       0px;

$nav-side-hover-background:    #fff;
$nav-side-hover-color:         $base-link-hover-color;

$nav-side-nested-color:        $base-link-color;
$nav-side-nested-hover-color:  $base-link-hover-color;

$nav-sub-padding-left:         15px;

// Subnav

$subnav-hover-color:           $base-link-hover-color;
$subnav-line-border:           $base-body-color;
$subnav-line-border-width:     2px;
$subnav-line-border-height:    15px;
$subnav-margin-horizontal:     15px;

// Dropdown

$dropdown-width:        325px;
$dropdown-background:   #fff;
$dropdown-animation:    uk-fade-top;

// Utility

$utility-container-large-max-width:   1280px;
$utility-margin-large:     30px;

// Button

$button-large-height:       80px;
$button-large-font-size:    22px;
$button-large-line-height:  $button-large-height;

$button-color:              $base-body-color;
$button-hover-color:        $button-color;
$button-background:         #ffffff;
$button-hover-background:   #d0d0d0;

// Mixins

@import "uikit-mixins";

@mixin hook-dropdown(){
  border: 2px solid #000;
}

@mixin hook-button-large(){
  border: 2px solid #000;
  border-radius: 10px;
}

// LESS related
@import "core/variables.scss";

// Defaults
@import "core/base.scss";

// Layout
@import "core/grid.scss";
// @import "core/panel.scss";
@import "core/block.scss";
// @import "core/article.scss";
// @import "core/comment.scss";
// @import "core/cover.scss";

// Navs
@import "core/nav.scss";
// @import "core/navbar.scss";
@import "core/subnav.scss";
// @import "core/breadcrumb.scss";
// @import "core/pagination.scss";
// @import "core/tab.scss";
// @import "core/thumbnav.scss";

// Elements
@import "core/list.scss";
// @import "core/description-list.scss";
// @import "core/table.scss";
// @import "core/form.scss";

// Common
@import "core/button.scss";
// @import "core/icon.scss";
// @import "core/close.scss";
// @import "core/badge.scss";
// @import "core/alert.scss";
// @import "core/thumbnail.scss";
// @import "core/overlay.scss";
// @import "core/column.scss";
@import "core/animation.scss";

// JavaScript
@import "core/dropdown.scss";
// @import "core/modal.scss";
// @import "core/offcanvas.scss";
// @import "core/switcher.scss";

// Need to be loaded last
@import "core/text.scss";
@import "core/utility.scss";
@import "core/flex.scss";
// @import "core/contrast.scss";
// @import "core/print.scss";


// 
// Custom Style
// 

body{
  letter-spacing: 0.75px;
}

hr.section-spacer {
  border-top: 2px solid #000;
  margin: 50px auto;
}

h2.tm-title{
  margin: 60px 0 40px;
  text-align: center;
}

h3 {
  font-size: 22px;
  margin-bottom: 0.5em;
  margin-top: 1em;
}


// Buttons

.button-xl{
  @extend .uk-button-large;
  min-height: 140px;
  line-height: 140px;
}

// Block

.tm-block{
  position: relative;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 40px;

  > *{
    margin: 0;
  }
}


// List

ul.list-custom{
  list-style: none;
  margin: 10px 0;
  padding: 0;

  li{
    position: relative;
    padding-left: 20px;

    &:before{
      content: '\2013';
      position: absolute;
      left: 0;
    }
  }
}

// Layout

aside,
header,
.main{
  padding-top: 20px;
  margin-bottom: 10px;
}

header{
  > .uk-subnav{margin-left: auto;}
}

.site-footer{
  margin-top: 150px;
  font-size: 14px;
  padding-top: 30px;
  padding-bottom: 10px;
  border-top: 2px solid #000;
}


// 
// Pages
// 

.page-header{
  padding: 0;
  margin: 0;

  .page-title{
    margin-bottom: 42px;
    font-size: $text-large-font-size;
    line-height: $text-large-line-height;
  }
}

.page-image{
  max-height: 449px;
}

// Payment

.payment-logo{
  img{
    height: 40px;
    margin: 0 15px;
  } 
}

// Utility

.text-underline{
  &,
  &:hover,
  &:focus{
    text-decoration: underline;
  }
}