<!DOCTYPE html>
<html>

  {% include head.html %}
  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
  <body class="lang-{{ page.lang }}">
    <script type="text/javascript">
      var SHOW_MENU=false;
    </script>
    <main>
      <div class="uk-container uk-container-center">
        <div class="uk-grid">
          <div class="uk-width-medium-1-4">
            {% include sidebar.html %}
          </div>
          <div class="uk-width-medium-3-4">
            {%comment%}{% include header.html %}{%endcomment%}
            <div class="main">
              <div class="uk-grid">
                <div class="uk-width-medium-9-10">
                  {{ content }}
                  {% include footer.html %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/uikit.js"></script>
    <script src="javascripts/sticky.js"></script>

    <script type="text/javascript">
      var timer=0, DELAY_SLIDER=150;

      if (SHOW_MENU === true) {
        $("#walks-menu-slide-down").show();
      } else {
        $("#walks-menu-toggle").on("mouseenter", function() {
            clearTimeout(timer);

            timer = setTimeout(function() {
              $("#walks-menu-slide-down").slideDown("fast");
            }, DELAY_SLIDER);

        }).on("mouseleave", function() {
            clearTimeout(timer);

            timer = setTimeout(function() {
              $("#walks-menu-slide-down").slideUp();
            }, DELAY_SLIDER);
        });
      }
    </script>
  </body>
</html>
